<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      
    
      <!-- form card login -->
      <div>
        <div>

            <div  *ngIf="userfeedHappy" >
                <h3  class="d-flex justify-content-center"> How did we do today?</h3>
                <p>&nbsp;</p>
            </div>

            <div  class="container">
              <div class="form-group">
                <div class="d-flex justify-content-center">
                  <img  *ngIf="userfeedHappy" class="img-fluid mb-0" style="width:45%; height: 45%; cursor:pointer;"
                    (click)="onSubmitHappy(this)" src="https://efeedmobile.github.io/efeed/assets/Images/img_happy.jpeg" alt="Happy">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <img *ngIf="userfeedHappy" class="img-fluid mb-2" style="width:36%; height: 36%;cursor:pointer"
                  (click)="onSubmitImprove(this)" src="https://efeedmobile.github.io/efeed/assets/Images/img_nothappy.png" alt="Not Happy">
                </div>
              </div>
            <div  *ngIf="userfeedHappy" >
                <p>&nbsp;</p>
                <p class="text-danger d-flex justify-content-center" > Share your feedback & help us to improve!</p>
            </div>

            <div>
                
               <!-- CODE START FOR TNAKING HAPPY FEEDBACK-->
               <!-- *ngIf="userHappy" -->
                <div *ngIf="userHappy" class="form-group">
                  <div class="d-flex justify-content-center">
                      <img class="img-responsive mb-0" style="width: 35%; height: 35%;" 
                      src="https://efeedmobile.github.io/efeed/assets/Images/thankyou.jpeg" alt="Happy">
                  </div>
                  <p>&nbsp;</p>
                  <h3 class="d-flex justify-content-center" > Thank You! You made our day!</h3>
                </div>
                <!-- CODE START FOR TNAKING FEEDBACK-->

              <!-- CODE START FOR TNAKING IMPROVE FEEDBACK-->
               <!-- *ngIf="userfeedImprove" -->
               <div  *ngIf="userfeedImprove"  class="form-group">
                  <div class="d-flex justify-content-center ">
                      <img class="img-responsive mb-0" style="width: 30%; height: 30%;" (click)="onSubmitImprove(this)"
                      src="https://efeedmobile.github.io/efeed/assets/Images/OPPS.jpeg" alt="Happy">
                      <label class="font-weight-bold" > Opps! What went worng ?  </label>
                  </div>
                  <div>
                  <p>&nbsp;</p>
                      <div class="float-left col-auto" *ngFor="let event of userFeedImpdata">
                              <button type="button"  class="alert alert-dark text-dark" (click)="onSubmitImproveSelected(event.description)"  > {{event.description}} </button>
                              
                       </div>
                  </div>
                </div>
                <!-- CODE START FOR TNAKING FEEDBACK-->
                



              <!-- CODE START FOR NEW FEEDBACK-->
               <!-- *ngIf="usernewfeed" -->
              <div  class="d-flex justify-content-center ">
                <img *ngIf="usernewfeed"  class="img-responsive mb-0" style="width:30%; height: 30%; cursor:pointer;" (click)="onNewFeed(this)"
                  src="https://efeedmobile.github.io/efeed/assets/Images/newFeedback.jpeg" alt="click to provide new feedback">
              </div>
              <!-- CODE END FOR NEW FEED ABC-->
          </div>
        </div>
        <!--/card-block-->
      </div>
      
      <!-- /form card login -->
    </div>

  </div>
</div>